* {
  margin: 0;
	box-sizing: content-box;
}

html {
  height: 100%;
  width: 1280px;
}
body {
  background-attachment: fixed;
  background-image: url("../img/entrance.jpg");
  background-size: cover;
  height: 100%;
  width: 1280px;
}
.clear {
	clear: both;
}
.wrap {
  background-color: rgba(182, 182, 163, 0.8);
  height: 100%;
  position: fixed;
  width: 100%;
}

.global-menu {
  background-color: rgba(80, 84, 64, 0.8);
  height: 70px;
  padding: 5px 250px;
  position: fixed;
  width: 880px;
}
.global-menu a {
	box-sizing: content-box;
  color: #fafaec;
	display: block;
  font-size: 30px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  width: 210px;
}
.global-menu .logo {
	box-sizing: content-box;
  height: 70px;
  margin-right: 30px;
  width: 210px;
}
.global-menu .logo img {
	margin: 0 15px;
}
.global-menu li {
	list-style: none;
  float: left;
}
.global-menu .divide {
  border-left: solid 2px rgb(69, 72, 84);
  height: 75px;
  margin: 0 2px;
  padding: 0;
  width: 0;
}

.content {
  /* height: 710px; */
  margin: 0 30px;
  margin-top: 80px;
	padding-top: 30px;
  width: 1220px;
}

.bolder {
	font-weight: bolder;
}

.form {
	height: 50px;
  margin: 0 auto;
  width: 400px;
}


.selectFloor {
  float: left;
  font-size: 20px;
  height: 40px;
  width: 300px;
}
.moveFloor {
  float: left;
  font-size: 20px;
  height: 36px;
  width: 60px;
}
