@import "./default.css";

.content {
  height: 1000px;
}

h1 {
	text-align: center;
}
.graphArea {
	height: 350px;
	/* margin-top: 20px;
	margin-left:  115px; */
	margin: 20px auto;
	width: 990px;
}

.graph {
	float: left;
	height: 350px;
	margin: 0 15px;
	width: 300px;
}
.graph p {
	font-size: 30px;
	text-align: center;
}

canvas {
	padding: 0;
	width: 300px;
	height: 300px;
	transform: rotate(-90deg);
}

.form {
	height: 40px;
	margin-top: 30px;
	width: 500px;
}
.selectFloor {
	margin-left: 80px;
}
.contribute {
	border: 1px solid rgb(83, 92, 98);
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	padding: 3px;
	text-align: center;
}

.contribute .color {
	font-size: 20px;
	height: 40px;
	width: 50px;
}
.contribute input {
	height: 30px;
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
	width: 50px;
}
.inputNumber {
	font-size: 15px;
}
.sendNumber {
	font-size: 20px;
}
