@import "./default.css";

.tab-pane {
	background-color: rgba(210, 210, 200, 0.8);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px 40px;
	width: 70%;
}
li {
	list-style: none;
}

.tab-pane {
	height: 363px;
	line-height: 2.0;
}
#contribute img {
	margin-top: 20px;
}
#what {
	line-height: 2.0;
}
h2 {
	font-weight: bolder;
	margin-bottom: 30px;
}
#what h2 {
	margin-bottom: 50px;
}

img {
	width: 100%;
}
