@import "./default.css";

.content h1 {
  font-size: 60px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  width: 360px;
}
.content h2 {
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
  width: 150px;
}
.content p {
  font-size: 20px;
  margin: 50px 0;
  text-align: center;
}
